body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
} */

/* ============ Header ============= */
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
}

/* .line-height { 
  line-height: 1.17;
}   */

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #4d5ae5;
}

.header-menu-link-new {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-menu-link-new:hover,
.header-menu-link-new:focus,
.header-menu-link-new:active {
  color: black;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.header-logo-new {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
/* ======== Header ========= */

/* ========= Section Hero ========= */
.HERO {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
}

/* .HERO-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
} */

/* styles.css */

.HERO-title {
  font-size: 44px;
  color: white;
}

.HERO-btn {
  color: #4d5ae5;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  /* padding: 16px 32px; */
  gap: 10px;
  background-color: transparent;
  border: 2px solid #4d5ae5;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.HERO-btn:hover,
.HERO-btn:focus,
.HERO-btn:active {
  background-color: #4d5ae5;
  color: white;
}
/* ========= Section Hero ========= */

/* ========= Content ========= */
.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-item {
  width: 48%;
}

.content-subtitle {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.content-item-text {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/* ========= Content ========= */

/* ========= Team ========= */
.Team {
  background-color: #f4f4fd;
  padding: 40px 0;
}

.Team-title {
  color: #2e2f42;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-item {
  text-align: center;
  margin-bottom: 30px;
}

.team-picture {
  border-radius: 50%;
}

.team-name {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ========= Team ========= */

/* ========= Portfolio ========= */
.Portfolio {
  padding: 40px 0;
}

.Portfolio-title {
  color: #2e2f42;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.Portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Portfolio-item {
  text-align: center;
  margin-bottom: 30px;
  width: 30%;
}

.Portfolio-picture {
  width: 100%;
  border-radius: 8px;
}

.Portfolio-subtitle {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.Portfolio-item-text {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/* ========= Portfolio ========= */

/* ========= Footer ========= */
.footer {
  background: #2e2f42;
  padding: 20px 0;
}

.logo-class {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-two {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-text {
  color: #f4f4fd;
  font-family: "inherit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  text-align: left;
}
